
.advantages {
  text-align: center;
}

.advantages-advantage {
  margin: 0 3em 2em 3em;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  max-width: 350px;
  padding-left: 4em;
}

.advantages-advantage-title {
  color: #4F4C4C;
  font-size: 1.2em;
  margin-top: .9em;
  margin-bottom: .6em;

  background-repeat: no-repeat;
  background-position: left center;
  height: 2.5em;
  padding-left: 42px;
  padding-top: .5em;
  transform: translateX(-42px);
  text-transform: uppercase;
}

.advantages-advantage-title--time {
  background-image: url(../img/icon-clock.png);
}


.advantages-advantage-title--focus {
  background-image: url(../img/icon-money.png);
}


.advantages-advantage-title--experts {
  background-image: url(../img/icon-chemical.png);
}




@media (min-width: 830px) {


  .sectionAdvantages {
    padding-bottom: 0;
    background-color: #f7f4f4;
  }


  .advantages-advantage {
    margin: 0 .5em;
    font-size: .9em;
    max-width: 260px;
  }

}
