
.contactField {
  margin: .8em auto;
  max-width: 600px;
  position: relative;
}

.contactField-label {
  position: relative;
}

.contactField-label:before {
  content:'';
  vertical-align: middle;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: #fff;
  transform: translate(-7px, -3px);
  border: 1px solid #7D7D7D;
  color: transparent;
  line-height: 1;
  transition: background-color .2s ease-in, color .2s ease-in;
  box-sizing: border-box;
}

.contactField-checkbox:hover + .contactField-label:before, 
.contactField-checkbox:focus + .contactField-label:before {
  border: 2px solid #333;
}

.contactField-checkbox:checked + .contactField-label:before {
  content: '';
  color: #fff;
  background-image: radial-gradient(circle, #2DA4E7, #2F80ED);
  border-color: #015fbe;
  line-height: .8;
}

.contactField-checkbox:checked + .contactField-label:after {
  content: '';
  width: 10px;
  height: 5px;
  display: block;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(-45deg);
  position: absolute;
  z-index: 2;
  left: -3px;
  top: 5px;
}



.contactField-checkbox {
/*  display: none;*/
/*  visibility: hidden*/
  left: -9999px;
  position: absolute;
  opacity: 0;
}

.contactField-icone {
  position: absolute;
  left: -2em;
  top: 2.5em;
  width: 1.5em;
}

.contactField label,
.contactField input:not([type='checkbox']),
.contactField textarea {
  display: block;
  width: 100%;
  text-align: left;
} 

.contactField label {
  margin-bottom: 5px;
  margin-left: 8px;
} 

.contactField input,
.contactField textarea {
  font-size: 1em;
  padding: .5em;
  min-height: 50px;
  border-radius: 8px;
  border: 2px solid #ccc;
  outline: 0;
} 

.contactField input:focus,
.contactField textarea:focus {
  border: 2px solid #222;
} 

.contactField-disabledField {
  background-color: #ddd;
}

.contactField-msg, 
.formContato-validation {
  margin-left: 4px;
  margin-top: 4px;
  font-size: .9em;
  font-weight: bold;
  color: #FD1242;
  display: none;
}

.contactField .contactField--isValid {
  border: 2px solid #219653;
  background-color: #fff;
  position: relative;
}

.contactField .contactField--notValid {
  border: 2px solid #FF0000;
  background-color: #fff;
  position: relative;
}

.contactField--success:before {
  content: '';
  display: inline-block;
  width: 33px;
  height: 32px;
  position: absolute;
  z-index: 1;
  right: .4em;
  transform: translateY(112%) scale(.65);
  background-image: url(../img/validation-success.png);
}

.contactField--error:before {
  content: '';
  display: inline-block;
  width: 33px;
  height: 32px;
  position: absolute;
  z-index: 1;
  right: .4em;
  transform: translateY(112%) scale(.65);
  background-image: url(../img/validation-error.png);
}

