.sectionInstitutional {
  color: #666;
  text-align: center;
}

.sectionInstitutional-address {
  font-size: 1.5em;
  font-style: italic;
  line-height: 1.5;
  margin: 1.2em 0;
}

.sectionInstitutional-phone {
  font-size: 1.2em;
}

.sectionInstitutional-video {
  width: 100%;
  max-width: 550px;
  display: inline-block;
  margin-top: 30px;
}

@media (min-width: 830px) {

  .sectionInstitutional-column {
    float: left;
    text-align: left;
    width: 40%;
  }

  .sectionInstitutional-video {
    width: 40%;
    margin-top: 0;
  }
  
}