
.sectionAbout {
  color: #4F4C4C;
}

.sectionAbout-text {
  margin-bottom: 1em;
}

.sectionAbout-plataforms {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
}

.sectionAbout-imgHighlight {
  display: none;
}


@media (min-width: 830px) {

  .sectionAbout {
    text-align: left;
  }

  .sectionAbout-title {
    text-align: left;
  }

  .sectionAbout-imgHighlight {
    display: block;
    float: right;
    margin-left: 2em;
    margin-bottom: 2em;
  }

  .sectionAbout-plataforms {
    display: block;
    padding-top: 1.5em;
    position: relative;
  }

  .sectionAbout-plataforms:before {
    content: '';
    height: 1px;
    width: 45%;
    background-color: #D9D9D9;
    position: absolute;
    top: 4px;
  }

  .sectionAbout-plataforms li {
    display: inline-block;
    margin-right: 3em;
    margin: 1em 3em 0 0
  }

}